USE [WO_procs]
GO
/****** Object:  Table [dbo].[Pivot_FCU]    Script Date: 1/20/2017 12:52:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pivot_FCU](
	[FullAssetPath] [varchar](1000) NULL,
	[Building] [nvarchar](255) NULL,
	[Timestamp] [datetime] NULL,
	[CLGLPO] [float] NULL,
	[CLGSTG1CMD] [float] NULL,
	[CLGSTPT] [float] NULL,
	[CTLSTPT] [float] NULL,
	[HTGLPO] [float] NULL,
	[HTGSTPT] [float] NULL,
	[OAT] [float] NULL,
	[OCC] [float] NULL,
	[RAT] [float] NULL,
	[ROOMTEMP] [float] NULL,
	[SAT] [float] NULL,
	[FANCMD] [float] NULL,
	[FANSTS] [float] NULL
)

GO
